# === Nodo Meshtastic ===
MESHTASTIC_HOST=192.168.1.201
BROKER_PORT=8765
BACKLOG_PORT=8766

# === Telegram ===
TELEGRAM_TOKEN=xxxxxxxxxxxxx
ADMIN_IDS=123456789

# === APRS ===
APRS_CALL=EB2XXX-11
KISS_HOST=host.docker.internal
KISS_PORT=8100
MESHTASTIC_CH=0
BOT_START_DELAY=90
